# Grand Circus Capstrone Project 02
IMDB MOVIES/SHOWS REPORT
Three datasets:
- title.basics.tsv.gz
- title.ratings.tsv.gz

In [17]:
import pandas as pd
import numpy as np
import seaborn as sns

### Set up the files names allowing a different path between Joe & Andrew
#### Andrew - fix your file names so that they're not all named data.tsv within a folder name title.basics.tsv  The file should be named xxx.xxx.tsv instead of a folder named that way

In [4]:
#   Set the location of the files.
file_location = r"C:\Users\j\Downloads\Day039Data\\"

# Now add the names of the files to the location...
file1 = file_location + "name.basics.tsv"
file2 = file_location + "title.akas.tsv"
file3 = file_location + "title.basics.tsv"
file4 = file_location + "title.crew.tsv"
file5 = file_location + "title.episode.tsv"
file6 = file_location + "title.principals.tsv"
file7 = file_location + "title.ratings.tsv"
print(file1)
print(file2)
print(file3)
print(file4)
print(file5)
print(file6)
print(file7)

C:\Users\j\Downloads\Day039Data\\name.basics.tsv
C:\Users\j\Downloads\Day039Data\\title.akas.tsv
C:\Users\j\Downloads\Day039Data\\title.basics.tsv
C:\Users\j\Downloads\Day039Data\\title.crew.tsv
C:\Users\j\Downloads\Day039Data\\title.episode.tsv
C:\Users\j\Downloads\Day039Data\\title.principals.tsv
C:\Users\j\Downloads\Day039Data\\title.ratings.tsv

### Load name.basics.tsv

In [5]:
df1 =  pd.read_csv(file1, sep='\t')
print(df1.head(20))
df1.shape

NameError: name 'pd' is not defined

### Load title.akas.tsv

In [30]:
df2 =  pd.read_csv(file2, sep='\t')
print(df2.head(20))
df2.shape

C:\Users\j\AppData\Local\Temp\ipykernel_12892\2162114105.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 =  pd.read_csv(file2, sep='\t')

      titleId  ordering                      title region language  \
0   tt0000001         1                 Карменсіта     UA       \N
1   tt0000001         2                 Carmencita     DE       \N
2   tt0000001         3  Carmencita - spanyol tánc     HU       \N
3   tt0000001         4                 Καρμενσίτα     GR       \N
4   tt0000001         5                 Карменсита     RU       \N
5   tt0000001         6                 Carmencita     US       \N
6   tt0000001         7                 Carmencita     \N       \N
7   tt0000001         8                    カルメンチータ     JP       ja
8   tt0000002         1     Le clown et ses chiens     \N       \N
9   tt0000002         2     Le clown et ses chiens     FR       \N
10  tt0000002         3          A bohóc és kutyái     HU       \N
11  tt0000002         4  Der Clown und seine Hunde     DE       \N
12  tt0000002         5      Clovnul si cainii sai     RO       \N
13  tt0000002         6         Клоун и его собаки     RU       \N
14  tt0000002         7     The Clown and His Dogs     US       \N
15  tt0000002         8                      道化師と犬     JP       ja
16  tt0000003         1           Sarmanul Pierrot     RO       \N
17  tt0000003         2            Szegény Pierrot     HU       \N
18  tt0000003         3                     哀れなピエロ     JP       ja
19  tt0000003         4               Бідний П'єро     UA       \N

          types             attributes isOriginalTitle
0   imdbDisplay                     \N               0
1            \N          literal title               0
2   imdbDisplay                     \N               0
3   imdbDisplay                     \N               0
4   imdbDisplay                     \N               0
5   imdbDisplay                     \N               0
6      original                     \N               1
7   imdbDisplay                     \N               0
8      original                     \N               1
9   imdbDisplay                     \N               0
10  imdbDisplay                     \N               0
11           \N          literal title               0
12  imdbDisplay                     \N               0
13  imdbDisplay                     \N               0
14           \N  literal English title               0
15  imdbDisplay                     \N               0
16  imdbDisplay                     \N               0
17  imdbDisplay                     \N               0
18  imdbDisplay                     \N               0
19  imdbDisplay                     \N               0

(35994986, 8)

### Load title.basics.tsv"

In [ ]:
df3 =  pd.read_csv(file3, sep='\t')
df3.head(20)
df3.shape

In [ ]:
### Load title.crew

In [ ]:
df4 =  pd.read_csv(file4, sep='\t')
df4.head(20)
df4.shape

In [ ]:
### Load \title.episode.tsv

In [ ]:
df5 =  pd.read_csv(file5, sep='\t')
df5.head(20)
df5.shape

In [ ]:
### Load title.principals.tsv

In [ ]:
df6 =  pd.read_csv(file6, sep='\t')
df6.head(20)
df6.shape

In [ ]:
### Load title.ratings.tsv

In [ ]:
df7 =  pd.read_csv(file7, sep='\t')
df7.head(20)
df7.shape

# Analysis ideas...
1. Compare Genre vs Rating - identify the most popular genre
1. Compare actor with the rating for their movies
- Average the rating for all of their movies, also include a count of their movies.
1. Average rating by decade of the movie.
1. Runtime compared to date - are newer movies getting longer
1. Compare remankes.
- How do the ratings compare.
- How far apart is the remake from the original
- How does this timeframe affect the rating?

# Which tables do we need?