# Day030 - Joseph P. Merten
## Data Analytics 2: Data Visualization & Predictions - Flying Etiquette Survey (Data Visualization) - Due May 8
- Following along with this video: https://www.youtube.com/watch?v=xi0vhXFPegw

### Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
plt.style.use('ggplot')    #    Set style sheet
pd.set_option('display.max_columns', 300)    #    Set the number of columns displayed

### Go get data...

In [2]:
#data_url = r'https://raw.githubusercontent.com/fivethirtyeight/data/master/flying-etiquette-survey/flying-etiquette.csv'
data_url = r'C:\Users\j\Documents\code\GrandCircus\Day030\coaster_db.csv'
# print(data_url)
coaster_df = pd.read_csv(data_url)

### Step 1 - Data exploration

In [3]:
coaster_df.shape

(1087, 56)

In [4]:
coaster_df.head(20)

,coaster_name,Length,Speed,Location,Status,Opening date,Type,Manufacturer,Height restriction,Model,Height,Inversions,Lift/launch system,Cost,Trains,Park section,Duration,Capacity,G-force,Designer,Max vertical angle,Drop,Soft opening date,Fast Lane available,Replaced,Track layout,Fastrack available,Soft opening date.1,Closing date,Opened,Replaced by,Website,Flash Pass Available,Must transfer from wheelchair,Theme,Single rider line available,Restraint Style,Flash Pass available,Acceleration,Restraints,Name,year_introduced,latitude,longitude,Type_Main,opening_date_clean,speed1,speed2,speed1_value,speed1_unit,speed_mph,height_value,height_unit,height_ft,Inversions_clean,Gforce_clean
0,Switchback Railway,600 ft (180 m),6 mph (9.7 km/h),Coney Island,Removed,"June 16, 1884",Wood,LaMarcus Adna Thompson,NaN,Lift Packed,50 ft (15 m),NaN,gravity,NaN,NaN,Coney Island Cyclone Site,1:00,1600 riders per hour,2.9,LaMarcus Adna Thompson,30°,43 ft (13 m),NaN,NaN,NaN,Gravity pulled coaster,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1884,40.5740,-73.9780,Wood,1884-06-16,6 mph,9.7 km/h,6.0,mph,6.0,50.0,ft,NaN,0,2.9
1,Flip Flap Railway,NaN,NaN,Sea Lion Park,Removed,1895,Wood,Lina Beecher,NaN,NaN,NaN,1.0,NaN,NaN,a single car. Riders are arranged 1 across in ...,NaN,NaN,NaN,12,Lina Beecher,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1895,40.5780,-73.9790,Wood,1895-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,12.0
2,Switchback Railway (Euclid Beach Park),NaN,NaN,"Cleveland, Ohio, United States",Closed,NaN,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1896,41.5800,-81.5700,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,Loop the Loop (Coney Island),NaN,NaN,Other,Removed,1901,Steel,Edwin Prescott,NaN,NaN,NaN,1.0,NaN,NaN,a single car. Riders are arranged 2 across in ...,NaN,NaN,NaN,NaN,Edward A. Green,NaN,NaN,NaN,NaN,Switchback Railway,NaN,NaN,NaN,1910,NaN,Giant Racer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1901,40.5745,-73.9780,Steel,1901-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
4,Loop the Loop (Young's Pier),NaN,NaN,Other,Removed,1901,Steel,Edwin Prescott,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Edward A. Green,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1901,39.3538,-74.4342,Steel,1901-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
5,Cannon Coaster,NaN,NaN,Coney Island,Removed,1902,Wood,George Francis Meyer,NaN,NaN,40 ft (12 m),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1902,40.5750,-73.9800,Wood,1902-01-01,NaN,NaN,NaN,NaN,NaN,40.0,ft,NaN,0,NaN
6,Leap-The-Dips,"1,452 ft (443 m)",10 mph (16 km/h),Lakemont Park,Operating,1902,Wood – Side friction,Federal Construction Company,NaN,NaN,41 ft (12 m),NaN,NaN,NaN,NaN,NaN,1:00,NaN,NaN,Edward Joy Morris,25°,9 ft (2.7 m),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1902,NaN,NaN,Wood,1902-01-01,10 mph,16 km/h,10.0,mph,10.0,41.0,ft,NaN,0,NaN
7,Figure Eight (Euclid Beach Park),NaN,NaN,"Cleveland, Ohio, United States",Closed,NaN,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1904,41.5800,-81.5700,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
8,Drop the Dip,NaN,NaN,Coney Island,Removed,"June 6, 1907",Other,Arthur Jarvis,NaN,NaN,60 ft (18 m),NaN,NaN,NaN,NaN,NaN,1 minute 30 seconds,NaN,NaN,"Christopher Feucht, Welcome Mosley",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1930s,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1907,40.5744,-73.9786,Other,1907-06-06,NaN,NaN,NaN,NaN,NaN,60.0,ft,NaN,0,NaN
9,Scenic Railway (Euclid Beach Park),NaN,NaN,"Cleveland, Ohio, United States",Closed,NaN,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1907,41.5800,-81.5700,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
10,Loop the Loop (Olentangy Park),NaN,NaN,Olentangy Park,Removed,1908,Steel,Lina Beecher,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lina Beecher,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1908,40.0204,-83.0143,Steel,1908-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN
11,Aero Dips,NaN,NaN,"Cleveland, Ohio, United States",Closed,NaN,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1909,41.5800,-81.5700,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
12,Backety-Back Scenic Railway,NaN,10 mph (16 km/h),Crystal Beach,Removed,1909,Wood – Shuttle,NaN,NaN,NaN,NaN,0.0,NaN,"$50,000",2 cars. Riders are arranged 2 across in 5 rows...,NaN,NaN,NaN,NaN,John H. Brown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1909,42.8675,-79.0592,Wood,1909-01-01,10 mph,16 km/h,10.0,mph,10.0,NaN,NaN,NaN,0,NaN
13,Racer (1910 roller coaster),"4,500 ft (1,400 m)",40 mph (64 km/h),Kennywood,Operating,1927,Wood – Racing,Charlie Mach,46 in (117 cm),Racing,72.5 ft (22.1 m),0.0,Chain lift,"$75,000",4 trains with 4 cars. Riders are arranged 2 ac...,NaN,1:32,1400 riders per hour,NaN,John A. Miller,NaN,50 ft (15 m),NaN,NaN,NaN,Möbius Loop,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1910,40.3869,-79.8619,Wood,1927-01-01,40 mph,64 km/h,40.0,mph,40.0,72.5,ft,NaN,0,NaN
14,Derby Racer,NaN,NaN,Revere Beach,Removed,1911,Wood – Racing,Fred W. Pearce,NaN,NaN,NaN,0.0,NaN,"$140,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Figure Eight,NaN,NaN,1936,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1911,42.4200,-70.9860,Wood,1911-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
15,The Great Scenic Railway,"967 m (3,173 ft)",60 km/h (37 mph),Luna Park Melbourne,Operating,December 1912,Wood,LaMarcus Thompson,100 cm (3 ft 3 in),NaN,16 m (52 ft),0.0,Cable lift hill,NaN,3 trains with 2 cars. Riders are arranged 2 ac...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Official website,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1912,NaN,NaN,Wood,1912-12-01,60 km/h,37 mph,60.0,km/h,37.3,16.0,m,52.5,0,NaN
16,Zippin Pippin,"2,865 ft (873 m)",40 mph (64 km/h),Other,NaN,NaN,Wood,The Gravity Group,48 in (122 cm),Wooden Coaster,70 ft (21 m),NaN,Chain lift hill,NaN,NaN,NaN,1:58,NaN,NaN,John A. Miller,64°,70 ft (21 m),NaN,NaN,NaN,Martin & Vleminckx,NaN,NaN,2005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1912,NaN,NaN,Wood,NaN,40 mph,64 km/h,40.0,mph,40.0,70.0,ft,NaN,0,NaN
17,Racing Coaster,NaN,NaN,"Cleveland, Ohio, United States",Closed,NaN,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1895,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1913,41.5800,-81.5700,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
18,Whirl Pool Dips,NaN,NaN,Tolchester Beach Park,Removed,1913,Wood,NaN,NaN,NaN,NaN,NaN,NaN,"$50,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1959,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1913,39.2140,-76.2310,Wood,1913-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
19,Green Dragon (Lake Compounce),NaN,NaN,Lake Compounce,Removed,1914,Wood – Out and back,NaN,NaN,NaN,NaN,0.0,Chain,NaN,NaN,NaN,NaN,NaN,NaN,"Bowen, Moore",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1926,NaN,Wildcat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1914,41.6420,-72.9230,Wood,1914-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

In [5]:
coaster_df.columns

Index(['coaster_name', 'Length', 'Speed', 'Location', 'Status', 'Opening date',
       'Type', 'Manufacturer', 'Height restriction', 'Model', 'Height',
       'Inversions', 'Lift/launch system', 'Cost', 'Trains', 'Park section',
       'Duration', 'Capacity', 'G-force', 'Designer', 'Max vertical angle',
       'Drop', 'Soft opening date', 'Fast Lane available', 'Replaced',
       'Track layout', 'Fastrack available', 'Soft opening date.1',
       'Closing date', 'Opened', 'Replaced by', 'Website',
       'Flash Pass Available', 'Must transfer from wheelchair', 'Theme',
       'Single rider line available', 'Restraint Style',
       'Flash Pass available', 'Acceleration', 'Restraints', 'Name',
       'year_introduced', 'latitude', 'longitude', 'Type_Main',
       'opening_date_clean', 'speed1', 'speed2', 'speed1_value', 'speed1_unit',
       'speed_mph', 'height_value', 'height_unit', 'height_ft',
       'Inversions_clean', 'Gforce_clean'],
      dtype='object')

In [6]:
coaster_df.dtypes

coaster_name                      object
Length                            object
Speed                             object
Location                          object
Status                            object
Opening date                      object
Type                              object
Manufacturer                      object
Height restriction                object
Model                             object
Height                            object
Inversions                       float64
Lift/launch system                object
Cost                              object
Trains                            object
Park section                      object
Duration                          object
Capacity                          object
G-force                           object
Designer                          object
Max vertical angle                object
Drop                              object
Soft opening date                 object
Fast Lane available               object
Replaced                          object
Track layout                      object
Fastrack available                object
Soft opening date.1               object
Closing date                      object
Opened                            object
Replaced by                       object
Website                           object
Flash Pass Available              object
Must transfer from wheelchair     object
Theme                             object
Single rider line available       object
Restraint Style                   object
Flash Pass available              object
Acceleration                      object
Restraints                        object
Name                              object
year_introduced                    int64
latitude                         float64
longitude                        float64
Type_Main                         object
opening_date_clean                object
speed1                            object
speed2                            object
speed1_value                     float64
speed1_unit                       object
speed_mph                        float64
height_value                     float64
height_unit                       object
height_ft                        float64
Inversions_clean                   int64
Gforce_clean                     float64
dtype: object

In [7]:
coaster_df.describe()

,Inversions,year_introduced,latitude,longitude,speed1_value,speed_mph,height_value,height_ft,Inversions_clean,Gforce_clean
count,932.000000,1087.000000,812.000000,812.000000,937.000000,937.000000,965.000000,171.000000,1087.000000,362.000000
mean,1.547210,1994.986201,38.373484,-41.595373,53.850374,48.617289,89.575171,101.996491,1.326587,3.824006
std,2.114073,23.475248,15.516596,72.285227,23.385518,16.678031,136.246444,67.329092,2.030854,0.989998
min,0.000000,1884.000000,-48.261700,-123.035700,5.000000,5.000000,4.000000,13.100000,0.000000,0.800000
25%,0.000000,1989.000000,35.031050,-84.552200,40.000000,37.300000,44.000000,51.800000,0.000000,3.400000
50%,0.000000,2000.000000,40.289800,-76.653600,50.000000,49.700000,79.000000,91.200000,0.000000,4.000000
75%,3.000000,2010.000000,44.799600,2.778100,63.000000,58.000000,113.000000,131.200000,2.000000,4.500000
max,14.000000,2022.000000,63.230900,153.426500,240.000000,149.100000,3937.000000,377.300000,14.000000,12.000000

### Step 2 - Data Preparation.
- Drop irrelevant columns & row
- Identifying dduplicate columns
- Renaming columns
- Feature creation

In [8]:
# Get a subsey of the data
coaster_df[['coaster_name', 'year_introduced', 'latitude', 'longitude', 'Type_Main', 'Location', 'Status', 
            'opening_date_clean', 'speed_mph', 'Inversions_clean', 'Gforce_clean']]

,coaster_name,year_introduced,latitude,longitude,Type_Main,Location,Status,opening_date_clean,speed_mph,Inversions_clean,Gforce_clean
0,Switchback Railway,1884,40.5740,-73.9780,Wood,Coney Island,Removed,1884-06-16,6.0,0,2.9
1,Flip Flap Railway,1895,40.5780,-73.9790,Wood,Sea Lion Park,Removed,1895-01-01,NaN,1,12.0
2,Switchback Railway (Euclid Beach Park),1896,41.5800,-81.5700,Other,"Cleveland, Ohio, United States",Closed,NaN,NaN,0,NaN
3,Loop the Loop (Coney Island),1901,40.5745,-73.9780,Steel,Other,Removed,1901-01-01,NaN,1,NaN
4,Loop the Loop (Young's Pier),1901,39.3538,-74.4342,Steel,Other,Removed,1901-01-01,NaN,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1082,American Dreier Looping,2022,NaN,NaN,Steel,Other,NaN,NaN,53.0,3,4.7
1083,Pantheon (roller coaster),2022,37.2339,-76.6426,Steel,Busch Gardens Williamsburg,Under construction,2022-01-01,73.0,2,NaN
1084,Tron Lightcycle Power Run,2022,NaN,NaN,Steel,Other,NaN,2016-06-16,59.3,0,4.0
1085,Tumbili,2022,NaN,NaN,Steel,Kings Dominion,Under construction,NaN,34.0,0,NaN
1086,Wonder Woman Flight of Courage,2022,NaN,NaN,Steel,Six Flags Magic Mountain,Under construction,2022-01-01,58.0,3,NaN

In [9]:
#    We need to sepcify axis=1 to drop a column instead of a row.  
#    Also need to enclose the column name in square nracket to drop the column.
coaster_df.drop(['Opening date'], axis=1)
coaster_df.columns

Index(['coaster_name', 'Length', 'Speed', 'Location', 'Status', 'Opening date',
       'Type', 'Manufacturer', 'Height restriction', 'Model', 'Height',
       'Inversions', 'Lift/launch system', 'Cost', 'Trains', 'Park section',
       'Duration', 'Capacity', 'G-force', 'Designer', 'Max vertical angle',
       'Drop', 'Soft opening date', 'Fast Lane available', 'Replaced',
       'Track layout', 'Fastrack available', 'Soft opening date.1',
       'Closing date', 'Opened', 'Replaced by', 'Website',
       'Flash Pass Available', 'Must transfer from wheelchair', 'Theme',
       'Single rider line available', 'Restraint Style',
       'Flash Pass available', 'Acceleration', 'Restraints', 'Name',
       'year_introduced', 'latitude', 'longitude', 'Type_Main',
       'opening_date_clean', 'speed1', 'speed2', 'speed1_value', 'speed1_unit',
       'speed_mph', 'height_value', 'height_unit', 'height_ft',
       'Inversions_clean', 'Gforce_clean'],
      dtype='object')

In [10]:
# reassign to the subsetted data fraom...  Notice the double square brackets.  
# Also note the .c9py() wich tells python this is a new dataframe and NOT a reference to the old one.
coaster_df = coaster_df[['coaster_name', 'Location', 'Status', 'year_introduced', 'latitude', 'longitude', 'Type_Main', 
            'opening_date_clean', 'speed_mph', 'height_ft', 'Inversions_clean', 'Gforce_clean']].copy()

In [11]:
coaster_df.shape

(1087, 12)